COMPOSE_PROJECT_NAME=devos
CODE_PATH=./_code
DATA_PATH=./_data
SITES_PATH=./_sites

# DevOS
TZ=PRC
NPM_REGISTRY=
YARN_REGISTRY=

# MySQL
MYSQL_ROOT_PASSWORD=

# Wordpress
WORDPRESS_DB_HOST=mysql
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=root
WORDPRESS_DB_PASSWORD=${MYSQL_ROOT_PASSWORD}

# Mongo
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=

# phpMyAdmin
PMA_ARBITRARY=1
