:80 {
	root * /usr/share/caddy
	file_server
  log {
    output file /var/log/caddy/access.log
  }
}

http://test.lctest.com {
  redir https://{host}{uri}
}

https://test.lctest.com {
  root * /srv
  file_server
  tls internal
  log {
    output file /var/log/caddy/test.lctest.com.log
  }
}
