:80 {
	root * /usr/share/caddy
	file_server
  log {
    output file /var/log/caddy/access.log
  }
}

http://devos.com {
  root * /srv
  file_server
  log {
    output file /var/log/caddy/devos.com.log
  }
}

http://test.devos.com {
  redir https://{host}{uri}
}

https://test.devos.com {
  root * /srv/test
  file_server
  tls internal
  log {
    output file /var/log/caddy/devos.com.log
  }
}
